In [ ]:
# run this cell
from datascience import *
import pandas as pd
import numpy as np

import matplotlib
matplotlib.use('Agg', warn=False)
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [12]:
roster=Table.read_table('Household Survey - Roster.csv')
roster

Household ID  | Individual ID | Initial | Sex  | Age  | Birthdate  | Relate to Head | Mother in Household | Mother ID | Highest Education | Enrollment Status | Hours worked | Hours Volunteered
3             | 1             | G       | 0    | 50   | 12/12/1967 | 1              | 0                   | nan       | 17                | 1                 | 40           | 0
3             | 2             | B       | 1    | 39   | 3/14/1978  | 2              | 1                   | nan       | 17                | 1                 | 40           | 0
3             | 3             | P       | 0    | 21   | 6/14/1996  | 3              | 0                   | nan       | 15                | 0                 | 40           | 0
3             | 4             | S       | 1    | 19   | 5/6/1998   | 3              | 0                   | nan       | 15                | 0                 | 15           | 0
3             | 5             | N       | 1    | 8    | 12/12/2009 | 3              | 0                   | 2         | 2                 | 0                 | 0            | 0
3             | 6             | K       | 1    | 6    | 9/6/2011   | 3              | 0                   | 2         | 0                 | 0                 | 0            | 0
3             | 7             | O       | 0    | 90   | 7/13/1927  | 4              | 0                   | nan       | 17                | 1                 | 0            | 0
2             | 1             | C       | 1    | 57   | 5/16/1960  | 1              | 1                   | nan       | 16                | 1                 | 32           | 0
2             | 2             | M       | 1    | 20   | 11/26/1997 | 3              | 0                   | 1         | 15                | 0                 | 0            | 0
2             | 3             | K       | 0    | 23   | 9/11/1994  | 3              | 0                   | 1         | 15                | 0                 | 0            | 0
... (39 rows omitted)

In [ ]:
roster.group('Household ID ').show()

In [6]:
survey=Table.read_table('Class Household Survey.csv')
survey

In [13]:
survey.group('Household ID').show()

In [14]:
combined=roster.join('Household ID ', survey, 'Household ID')
combined

Household ID  | Individual ID | Initial | Sex  | Age  | Birthdate  | Relate to Head | Mother in Household | Mother ID | Highest Education | Enrollment Status | Hours worked | Hours Volunteered | dogs | cats | fish | small pets | large pets | Wii  | Alexa-ish product | DVD  | international travel
1             | 1             | C       | 0    | 21   | 3/18/1996  | 3              | 0                   | 3         | 15                | 0                 | 0            | 0                 | 1    | 0    | 0    | 0          | 0          | No   | No                | No   | Yes
1             | 2             | C       | 0    | 51   | 10/13/1969 | 1              | 0                   | nan       | 13                | 1                 | 60           | 0                 | 1    | 0    | 0    | 0          | 0          | No   | No                | No   | Yes
1             | 3             | D       | 1    | 53   | 3/5/1967   | 2              | 1                   | nan       | 13                | 1                 | 0            | 0                 | 1    | 0    | 0    | 0          | 0          | No   | No                | No   | Yes
1             | 4             | S       | 0    | 19   | 7/28/1998  | 3              | 0                   | 3         | 15                | 0                 | 0            | 0                 | 1    | 0    | 0    | 0          | 0          | No   | No                | No   | Yes
2             | 1             | C       | 1    | 57   | 5/16/1960  | 1              | 1                   | nan       | 16                | 1                 | 32           | 0                 | 1    | 0    | 0    | 0          | 0          | No   | Yes               | Yes  | Yes
2             | 2             | M       | 1    | 20   | 11/26/1997 | 3              | 0                   | 1         | 15                | 0                 | 0            | 0                 | 1    | 0    | 0    | 0          | 0          | No   | Yes               | Yes  | Yes
2             | 3             | K       | 0    | 23   | 9/11/1994  | 3              | 0                   | 1         | 15                | 0                 | 0            | 0                 | 1    | 0    | 0    | 0          | 0          | No   | Yes               | Yes  | Yes
2             | 4             | D       | 0    | 24   | 5/29/1993  | 3              | 0                   | 1         | 15                | 1                 | 60           | 0                 | 1    | 0    | 0    | 0          | 0          | No   | Yes               | Yes  | Yes
3             | 1             | G       | 0    | 50   | 12/12/1967 | 1              | 0                   | nan       | 17                | 1                 | 40           | 0                 | 4    | 1    | 0    | 0          | 0          | Yes  | Yes               | Yes  | Yes
3             | 2             | B       | 1    | 39   | 3/14/1978  | 2              | 1                   | nan       | 17                | 1                 | 40           | 0                 | 4    | 1    | 0    | 0          | 0          | Yes  | Yes               | Yes  | Yes
... (39 rows omitted)

In [15]:
combined.group('Household ID ').show()

In [18]:
roster['Master ID'] = roster['Household ID ']*100 + roster['Individual ID']
roster

Household ID  | Individual ID | Initial | Sex  | Age  | Birthdate  | Relate to Head | Mother in Household | Mother ID | Highest Education | Enrollment Status | Hours worked | Hours Volunteered | Master ID
3             | 1             | G       | 0    | 50   | 12/12/1967 | 1              | 0                   | nan       | 17                | 1                 | 40           | 0                 | 301
3             | 2             | B       | 1    | 39   | 3/14/1978  | 2              | 1                   | nan       | 17                | 1                 | 40           | 0                 | 302
3             | 3             | P       | 0    | 21   | 6/14/1996  | 3              | 0                   | nan       | 15                | 0                 | 40           | 0                 | 303
3             | 4             | S       | 1    | 19   | 5/6/1998   | 3              | 0                   | nan       | 15                | 0                 | 15           | 0                 | 304
3             | 5             | N       | 1    | 8    | 12/12/2009 | 3              | 0                   | 2         | 2                 | 0                 | 0            | 0                 | 305
3             | 6             | K       | 1    | 6    | 9/6/2011   | 3              | 0                   | 2         | 0                 | 0                 | 0            | 0                 | 306
3             | 7             | O       | 0    | 90   | 7/13/1927  | 4              | 0                   | nan       | 17                | 1                 | 0            | 0                 | 307
2             | 1             | C       | 1    | 57   | 5/16/1960  | 1              | 1                   | nan       | 16                | 1                 | 32           | 0                 | 201
2             | 2             | M       | 1    | 20   | 11/26/1997 | 3              | 0                   | 1         | 15                | 0                 | 0            | 0                 | 202
2             | 3             | K       | 0    | 23   | 9/11/1994  | 3              | 0                   | 1         | 15                | 0                 | 0            | 0                 | 203
... (39 rows omitted)