In [ ]:
# make sure to run this cell
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
import warnings

%matplotlib inline
plt.style.use('fivethirtyeight')
warnings.simplefilter(action="ignore", category=FutureWarning)

In this exercise we will begin to familiarize ourselves with working with survey data by examining the Household Rosters from the Young Lives Survey.  We will look at the Roster when the Children were age 5 yrs.

In [ ]:
# Import data that you saved at the end of Lab 1
roster = Table.read_table('ethiopia roster 5yr.csv')
roster.show(3)

Look up the following variables in the codebook (Data Dictionary):

`childid` `id` `age` `memsex` `relate` `grade` `sleep` `chcare` `hhchore` `npaywork` `paywork` `school` `study` `play`

Keep only the variables `childid` `id` `age` `memsex` `sleep` `chcare` `hhchore` `npaywork` `paywork` `school` `study` `play`

In [ ]:
activities = roster.select(['childid', 'id', 'age', 'memsex', 'sleep', 'chcare', 'hhchore', 'npaywork', 'paywork', 'school', 'study', 'play'])
activities.show(10)

In [ ]:
activities = activities.where(activities['age']>4)
activities = activities.where(activities['age']<18)
activities.show(10)

In [ ]:
activities = activities.where('sleep', are.between(-1, 25))

On average, how many hours do the children do the activities sleep-play?

In [ ]:
mean_sleep = activities.column('sleep').mean()
mean_sleep

Are these different for boys & girls?

In [ ]:
mean_sleep_f = activities.where('memsex', "female").column('sleep').mean()
mean_sleep_m = activities.where('memsex', "male").column('sleep').mean()

In [ ]:
mean_sleep_f

In [ ]:
mean_sleep_m

At what age do these differences start?  Compare boys and girls at ages 5, 10, & 17.

In [ ]:
mean_sleep_f_5 = activities.where('age', 5).where('memsex', "female").column('sleep').mean()
mean_sleep_m_5 = activities.where('age', 5).where('memsex', "male").column('sleep').mean()
mean_sleep_f_10 = activities.where('age', 10).where('memsex', "female").column('sleep').mean()
mean_sleep_m_10 = activities.where('age', 10).where('memsex', "male").column('sleep').mean()
mean_sleep_f_17 = activities.where('age', 17).where('memsex', "female").column('sleep').mean()
mean_sleep_m_17 = activities.where('age', 17).where('memsex', "male").column('sleep').mean()

In [ ]:
mean_sleep_f_5

In [ ]:
mean_sleep_m_5

In [ ]:
mean_sleep_f_10

In [ ]:
mean_sleep_m_10

In [ ]:
mean_sleep_f_17

In [ ]:
mean_sleep_m_17

Graphing the above.

In [ ]:
ages = make_array(5, 10, 17)
female = mean_sleep_f_5, mean_sleep_f_10, mean_sleep_f_17
male = mean_sleep_m_5, mean_sleep_m_10, mean_sleep_m_17

In [ ]:
plt.scatter(ages, female)
plt.scatter(ages, male)
plt.legend(['female', 'male'])